<%= form_with model: @ahbab, class: 'form' do |form| %>
    <div class="form-control">
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% @ahbab.errors.full_messages_for(:name).each do |message| %>
            <div class="text-danger"><%= message %></div>
        <% end %>
    </div>

    <div class="form-control">
        <%= form.label :mobile %><br>
        <%= form.text_field :mobile %>
        <% @ahbab.errors.full_messages_for(:mobile).each do |message| %>
            <div class="text-danger"><%= message %></div>
        <% end %>
    </div>

    <div class="form-control">
        <%= form.label :address %><br>
        <%= form.text_field :address %>
        <% @ahbab.errors.full_messages_for(:address).each do |message| %>
            <div class="text-danger"><%= message %></div>
        <% end %>
    </div>

    <div class="form-control">
        <%= form.label :amount %><br>
        <%= form.text_field :amount %>
        <% @ahbab.errors.full_messages_for(:amount).each do |message| %>
            <div class="text-danger"><%= message %></div>
        <% end %>
    </div>

    <div class="form-control">
        <%= form.submit class: 'btn btn-primary' %>
    </div>
<% end %>

