
<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Amount</th>
        <th>Active</th>
        <th>
            <% if params[:show_all] == "true" %>
                <%= link_to "Hide Inactive", root_path, class:'' %>
            <% else %>
                <%= link_to "Show All", root_path(show_all: true), class:'' %>
            <% end %>
        </th>
    </thead>
    <% @ahbabs.each do |ahbab| %>
        <tr>
            <td><%= ahbab.id %></td>
            <td><%= link_to ahbab.name, ahbab %></td>
            <td><%= ahbab.address %></td>
            <td><%= ahbab.amount %></td>
            <td>
                <% if ahbab.active %>
                    <span class="badge bg-success">Yes</span>
                <% else %>
                    <span class="badge bg-danger">No</span>
                <% end %>
            <td>
                <% if ahbab.active %>
                    <%= link_to "Deactivate", ahbab_toggle_activation_path(ahbab),
                        method: :post,
                        data: {confirm: "Are you sure to Deactivate ?"},
                        class: 'btn btn-warning'
                    %>
                <% else %>
                    <%= link_to "Activate", ahbab_toggle_activation_path(ahbab),
                        method: :post,
                        data: {confirm: "Are you sure to Activate ?"},
                        class: 'btn btn-success'
                    %>
                <% end %>
                <a class="btn btn-info" href="<%= edit_ahbab_path(ahbab) %>"><i class="fa fa-user-edit"></i> Edit</a>
                <%= link_to "Delete", ahbab_path(ahbab),
                    method: :delete,
                    data: {confirm: "Are you sure ?" },
                    class: 'btn btn-danger'
                %>
            </td>
        </tr>
    <% end %>
</table>
